@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .animate-logo-spin {
    animation: spin 2s linear infinite;
  }
}
